header {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
  background-color: #726A85;
}

img {
  max-height: 65% ;
}

